@import url('https://fonts.googleapis.com/css?family=Lobster');

.chefsalot-home-page {
    width: 100%;
    .home-page-container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        min-width: 400px;
    }
}

.loading-spinner {
    width: 20px;
    height: 20px;
}


.nav-bar-container {
    display: inline-block;
    margin-top: 40px;
}

.loginPaper {
    width: 70%;
    margin: auto;
}

.pigLogo {
    width: 10%;
    margin: 2% auto;
    display: block;
    margin-bottom: 0;
}

.loginField {
    margin: '10px';
}

.loginIcon {
    padding-right: 10px;
}

.textLogo {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 30pt;
  margin-top: 0;
}

.loginFields {
    margin-bottom: 70px;
}

.loginGrid {
    margin: auto;
}
