@import url('https://fonts.googleapis.com/css?family=Lobster');

.chefsalot-home-page {
    width: 100%;

    .home-page-container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        min-width: 400px;
    }
}

.html {
  padding: 0;
  margin: 0;
}

.body {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}
.chefsalot-login-page {
  background: #d1f8ff;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.login-form-container {
  background: white;
  width: 50%;
  height: 85%;
  margin-top: 5%;
  border-radius: 20px;
  width: 400px;
  min-height: 520px;
}

@media (max-width: 400px) {
  .login-form-container {
    border-radius: 0px;
  }
}

@media (max-height: 600px) {
  .login-form-container {
    margin-bottom: 25px;
  }
}

.loading-spinner {
    width: 20px;
    height: 20px;
}


.nav-bar-container {
    display: inline-block;
    margin-top: 40px;
}

.loginPaper {
    width: 70%;
    margin: auto;
}

.pigLogo {
    width: 100px;
    margin: 10% auto;
    display: block;
    margin-bottom: 0;
    align-self: center;
}

.loginField {
    margin: '10px';
}

.loginIcon {
    padding-right: 10px;
}

.textLogo {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 30pt;
  margin-top: 0;
}

.loginFields {
    margin-bottom: 70px;
}

.loginGrid {
    margin: auto;
}

.change-form-container {
  background: #CA6A6B;
}
